.container {
  font-family: 'Montserrat', serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  float: left;
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 5;
}

.header-area {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 630px;
  background-image: url('header-bg.jpg');
  background-size: cover;
}

.brand-area {
  position: absolute;
  top: 20px;
  left: 100px;
  color: rgb(48, 154, 209);
  height: 20px;
  width: 200px;
  font-size: 20px;
  line-height: 20px;
}

.brand-area:hover {
  cursor: pointer;
  color: rgb(41, 130, 181);
}

#logo {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.links-area-top {
  display: inline-block;
  position: absolute;
  font-weight: bold;
  top: 20px;
  right: 200px;
}

.links-area-top > div {
  display: inline-block;
  color: white;
  margin: 0 5px;
  font-size: 12px;
}

.link-top:hover {
  cursor: pointer;
  color: rgb(48, 154, 209);
}

.center-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 300px;
  width: 500px;
  text-align: center;
}

.slogan {
  margin-top: 80px;
  font-family: 'Droid Serif', serif;
  font-size: 30px;
  font-style: italic;
  color: white;
}

.brand {
  font-size: 56px;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
}

.btn {
  height: 50px;
  width: 190px;
  background-color: rgb(48, 154, 209);
  margin: 0 auto;
  line-height: 50px;
  border-radius: 3px;
  clear: both;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(41, 130, 181);
}

.btn-caption {
  margin-top: 5px;
  font-size: 10px;
  font-weight: bolder;
  color: rgb(120, 120, 120);
}

.section {
  clear: both;
  padding: 50px 100px;
}

.section-header {
  font-size: 30px;
  font-weight: bold;
}

.column {
  box-sizing: border-box;
  padding: 15px;
  float: left;
  width: calc(100% / 3);
}

.column-header {
  margin: 12px 0;
}

.bg-gray {
  background-color: rgb(238, 238, 238);
}

.desc {
  font-size: 12px;
  padding: 0 8px;
  font-family: 'Droid Serif', serif;
  line-height: 1.5em;
  color: rgb(140, 140, 140);
  -webkit-font-smoothing: antialiased;
}

.hook {
  height: 160px;
}

.hook-body {
  padding: 0 250px;
  font-family: 'Droid Serif', serif;
  line-height: 1.5em;
  color: rgb(140, 140, 140);
}

.demo {
  height: 630px;
}

.phone-img {
  max-width: 70%;
  max-height: 70%;
}

.footer {
  padding: 0 100px;
  font-size: 11px;
  height: 100px;
}

.footer > div {
  line-height: 30px;
}

.social {
  height: 30px;
}

.social-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0 5px;
}

object:hover {
  cursor: pointer;
}

.links-area-bottom > div {
  display: inline-block;
  margin: 0 2px;
  color: rgb(48, 154, 209);
}

.link-bottom:hover {
  cursor: pointer;
  color: rgb(41, 130, 181);
  text-decoration: underline;
}

#fb,
#twtr {
  max-height: 30px;
  max-width: auto;
}
